@font-face {
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body * {
    font-family: Goyang;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#App {
    margin: 1.5em auto;
    max-width: 1200px;
    column-gap: 1.5em;
}

.SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 10px;
}

.SearchResult img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SearchResult .item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.InputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.SearchInput {
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    padding: 10px 15px;
}

.RandomButton {
    min-width: 8rem;
    height: 100%;
    font-size: 1.5em;
    margin-left: 1rem;
    padding: 10px 15px;
}

.RandomButton:hover {
    cursor: pointer;
}

.ImageInfo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
    display: flex;
    justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
    padding: 5px;
}

.ImageInfo .content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

.ImageInfo .content-wrapper img {
    width: 100%;
}

.ImageInfo .content-wrapper .title .close:hover {
    cursor: pointer;
}

/* loading spinner */
.LoadingSpinner,
.LoadingSpinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.LoadingSpinner {
    margin: 60px auto;
    font-size: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    border-top: 1.1em solid rgba(180, 18, 18, 0.8);
    border-right: 1.1em solid rgba(180, 18, 18, 0.3);
    border-bottom: 1.1em solid rgba(180, 18, 18, 0.3);
    border-left: 1.1em solid rgba(180, 18, 18, 0.3);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* dark mode 처리
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: white;
    }
  }
  *?
  
  /* Make SearchResult responsive */
@media screen and (max-width: 992px) {
    .SearchResult {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .SearchResult {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    .content-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .SearchResult {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
